@layer base {
  @font-face {
    src:
      url('~/@uxoctopus/icons/fonts/uxoctopus.ttf') format('truetype'),
      url('~/@uxoctopus/icons/fonts/uxoctopus.woff') format('woff');
    font-style: normal;
    font-weight: normal;
    font-family: 'uxoctopus';
    font-display: block;
  }  
}
